body{
			margin: 0;
			padding: 0;
			font-family: 'Montserrat', sans-serif;
			color: #917FB3;
			background-color: #2A2F4F;
		}
		.containerindex {
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  align-items: center;
		  height: 100vh;
		}

		h1 {
			font-size: 3rem;
			margin-bottom: 30px;
			text-align: center;
			color: #E5BEEC;
		}
		p {
			font-size: 1.5rem;
			margin-bottom: 50px;
			text-align: center;
		}
		button {
			background-color: #E5BEEC;
			color: #2A2F4F;
			padding: 10px 20px;
			border: none;
			border-radius: 25px;
			font-size: 1.2rem;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
		}
		button:hover {
			background-color: #917FB3;
			color: #FDE2F3;
		}		

		i:hover {
			color: #FDE2F3;
		}		

		hr{
			
			background-color: white;

		}

		footer{
			color: white;
		}


		p strong
		}

		
   


.soustitre{
	position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
}

	#title-container {
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 0;
			transition: opacity 1s ease-in-out;
		}
		#title-container.show {
			opacity: 1;
		}
	
.underline-animation {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: #E5BEEC;
}

.underline-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #000;
  transition: width 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #FFFF;
}

.underline-animation:hover::after {
  width: 100%;
  transform: scaleX(1);
}



.border-secondary {
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


.titrecon{
	font-size: 2em;
	margin-bottom: 10px;
	color: black;
}


    .vignettetech {
  	text-align: center;
  	font-size: 3em;
	}

    .etapes{
    	padding: 2em 2em;
    	background-color: #FFFF;

    }

    .techno{
    	padding: 3em 6em;
    	background-color: ;
    	color: white;
    }

    .projet {
	}

	.foot p {
		font-size: 1em;
		color: #917FB3;
	}

	.foot li {
		font-size: 1em;
		color: #917FB3 ;
	}

	.foot h3{
		font-weight: bolder;
		color: #E5BEEC;
		font-size: 24px; 
		line-height: 40px;
		margin-bottom: 10px; 
	}

.footpas {
  opacity: 0;
  transition: opacity 0.5s ease;
  position: relative;
  text-align: center;
}

.footpas h1 {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2em; /* ajustez la valeur en fonction de la hauteur du bouton */
  margin-top: 30px;
}


.footpas button {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1em;
}


.image-container img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}


.vignette-france {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.vignette-france {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  margin: 0 19%; /* Ajouter une marge de 200 pixels à gauche et à droite */
}

.vignette-france img {
  width: 50px;
  margin-right: 10px;

}

.vignette-france p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

	.scroll-down {
			animation: scroll-down 2.5s infinite;
			position: absolute;
			bottom: 130px;
			left: 50%;
			transform: translateX(-50%);
			cursor: pointer;
			font-size: 2em;
			display: none;
		}

	.scroll-down.show {
    display: block;
	}

.pattern1 {
    background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
    background-size: 8px 8px;
}

.pattern2 {
    background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
    background-size: 4px 4px;
}



.bordure{
	  border: 1px solid #000000; 

}

.bordure2{
  border: 2px dotted #FF0000; /* ajoute une bordure en pointillé rouge de 2 pixels de largeur */
}

.col-etapes {
  display: flex;
  align-items: center; /* aligne les éléments verticalement */

 
}

.etapes .row {
 	padding-top: 6em;
}


.nbetapes1 {
  font-size: 10em;
  margin: 0; 
  margin-right: -4rem; /* ajoute une marge à droite pour séparer les éléments */
  z-index: 1;
}
.nbetapes2 {
  font-size: 10em;
  margin: 0; 
  margin-right: -350px; /* ajoute une marge à droite pour séparer les éléments */
  z-index: 1;
}
.nbetapes3 {
  font-size: 10em;
  margin: 0; 
  margin-right: -4rem; /* ajoute une marge à droite pour séparer les éléments */
  z-index: 1;
}



.bg-gris {
    background-color: #e6e6e6 !important;
    border-top: 40px solid white;
    border-bottom: 40px solid white;
    border-left: 20px solid white;
    border-right: 20px solid white;
    padding: 20px;
}
    
    .texte-noir {
        color: #000;
        font-size:  1.5rem;
        text-align: center;
        padding-left: 5em;    
        padding-right: 5em; 
        padding-top: 1Em;
      } 


      .go{
        text-align: center;
        font-size: 0.8em;
      }



.pattern2 {
  position: relative;
}

.navbar {
  background-color: ;
  color: #fff;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  margin-top: 2em;
  margin-right: 2em;
  padding: ;
}

.navbar li {
  display: inline-block;
  margin-left: 55px;
}

.navbar li:first-child {
  margin-left: 0;
}

.navbar {
  background-color: ;
  color: #fff;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  margin-top: 2em;
  margin-right: 2em;
  padding: ;
}

.navbar li {
  display: inline-block;
  margin-left: 55px;
}

.navbar li:first-child {
  margin-left: 0;
}

/* Style de base pour les liens de la navbar */
.navbar ul li a {
  color: #FFF;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Transition pour tous les liens de la navbar */
.navbar ul li a {
  transition: all 0.3s ease-in-out;
}

/* Effet de soulèvement de 3px pour les liens de la navbar au survol */
.navbar ul li a:hover {
  transform: translateY(-10px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Ajout d'une ombre pour ajouter de la profondeur */
}

/* Couleur dorée pour les liens de la navbar au survol */
.navbar ul li a:hover {
  color:#E5BEEC;
}

/* Pseudo-élément ::before pour ajouter une ligne dorée en dessous du lien au survol */
.navbar ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #E5BEEC; /* Couleur des liens en hover */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

/* Effet de ligne dorée qui s'affiche en dessous du lien au survol */
.navbar ul li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}



.logo {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2em;
  margin-left: 2em;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.titre{
 font-family: 'Montserrat', sans-serif;

 font-weight: bold; 
 color: #FFF;
 font-size:6em ;
 margin-right: 2em;
 text-transform: uppercase;
 text-shadow: 0.6rem 0 0 rgba(204,204,204,0.2);
 letter-spacing: .4rem;

}

.padblanc{

  border-top: 20px solid white;
  border-left: 20px solid white;
  border-right: 20px solid white;
  padding: 20px;

}


.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


		@keyframes scroll-down {
			0% {
				opacity: 0;
				transform: translateY(-10px);
			}
			50% {
				opacity: 1;
				transform: translateY(10px);
			}
			100% {
				opacity: 0;
				transform: translateY(30px);
			}
		}


@media (max-width: 440px) {
  .textnbetapes {
    font-size: 2rem;
  }
}



@media (max-width: 590px) {
  .navbar a {
    font-size: 0.9rem;
  }
}

@media (max-width: 551px) {
  .navbar a {
    font-size: 0.8rem;
  }
  .drapeaufrance{
  	display: none;
  }
}

@media (max-width: 525px) {
  .navbar a {
    font-size: 0.7rem;
  }
  .fab{
  	padding-left: 10px;
  	padding-right: 10px;
  }
}


@media (max-width: 490px) {
  .navbar a {
    font-size: 0.6rem;
  }
}


@media (max-width: 405px) {
  .navbar a {
    font-size: 0.6rem;
  }
  .nbetapes1 {
  font-size: 8em;
}
.nbetapes2 {
  font-size: 8em;
}
.nbetapes3 {
  font-size: 8em;
}
.textnbetapes {
    margin-left: 2em;
  }
}


@media (max-width: 350px) {

.textnbetapes {
    font-size: 1.5rem;
    margin-left: 4em;
  }

 h1{
 	font-size: 2em;
 }

}

